<div class="section">
  <h2 class="page-title mat-headline">Publications</h2>
  <p class="margin-common" *ngIf="!(afAuth.authState | async)">
    The 50+ publications available here are hosted at no cost to you, however to
    reduce liablity and costs for us, we ask that you have an
    <a
      href="#"
      class="link"
      id="verified-account"
      (click)="$event.preventDefault(); openDialog()"
    >
      Email Verified Account, and are Logged In</a
    >
    to be able to download publications.
  </p>

  <mat-spinner color="primary" *ngIf="loading" class="spinner"></mat-spinner>

  <mat-tab-group *ngIf="!loading">
    <mat-tab
      label="{{ tab }} ({{ getCountByTab(tab) }})"
      *ngFor="let tab of tabs"
    >
      <bmc-publication
        *ngFor="let item of getPublicationsByTab(tab); let i = index"
        [item]="item"
        [lastItem]="
          tab && i == getPublicationsByTab(tab).length - 1 ? true : false
        "
      ></bmc-publication>
    </mat-tab>
  </mat-tab-group>
</div>
