<div class="section">
  <h2 class="page-title mat-headline">Publications</h2>
  <p class="margin-common" *ngIf="!(afAuth.authState | async)">
    The 50+ publications available here are hosted at no cost to you, however to
    reduce liablity and costs for us, we ask that you have an
    <a
      href="#"
      class="link"
      id="verified-account"
      (click)="$event.preventDefault(); openDialog()"
    >
      Email Verified Account, and are Logged In</a
    >
    to be able to access and download publications.
  </p>

  <mat-spinner
    color="primary"
    *ngIf="loading && afAuth.authState | async"
    class="spinner"
  ></mat-spinner>

  <mat-tab-group *ngIf="afAuth.authState | async">
    <mat-tab *ngFor="let tab of tabs" label="{{ tab }}">
      <bmc-publication
        *ngFor="let publication of publications; let i = index"
        [publication]="publication"
        [lastItem]="i == publications.length - 1"
      >
      </bmc-publication>
    </mat-tab>
  </mat-tab-group>
</div>
