<div class="section">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="mat-headline">Media Commentary</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p class="margin-common">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt.
      </p>

      <mat-spinner
        color="primary"
        *ngIf="loading"
        class="spinner"
      ></mat-spinner>

      <mat-list *ngIf="commentaries">
        <bmc-commmentary
          *ngFor="let commentary of commentaries; let i = index"
          [item]="commentary"
          [lastItem]="i == commentaries.length - 1"
        ></bmc-commmentary>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
