<mat-card class="bmc-list-item mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>
      <h4 matLine class="title">
        {{ item.title }}
      </h4>
    </mat-card-title>
    <mat-card-subtitle>
      <p matLine class="item" *ngIf="item.author_last && item.author_first">
        {{ item.author_last }}, {{ item.author_first }} -
        {{ item.publication }} ({{ item.date.seconds | timestamp }})
      </p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p matLine class="item" *ngIf="item.accessed">
      ({{ item.accessed.seconds | timestamp }})
    </p>
    <p matLine class="item" *ngIf="!item.link">(No article link available)</p>
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-raised-button
      color="primary"
      href="{{ item.link }}"
      target="_blank"
      matLine
      class="item link"
      *ngIf="item.link"
      >See Article <mat-icon class="exit-icon">exit_to_app</mat-icon></a
    >
  </mat-card-actions>
</mat-card>
