<div class="section">
  <h2 class="page-title mat-headline">Teaching and Mentoring</h2>

  <mat-spinner color="primary" *ngIf="loading" class="spinner"></mat-spinner>

  <mat-tab-group *ngIf="!loading">
    <mat-tab
      label="{{ tab | titlecase }} ({{ getCountByTab(tab) }})"
      *ngFor="let tab of tabs"
    >
      <bmc-mentorship
        *ngFor="let mentorship of getMentorshipsByTab(tab); let i = index"
        [mentorship]="mentorship"
        [lastItem]="
          tab && i == getMentorshipsByTab(tab).length - 1 ? true : false
        "
      ></bmc-mentorship>
    </mat-tab>
  </mat-tab-group>
</div>
