<div class="section">
  <mat-card class="about-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Gonzaga University</mat-card-title>
      <mat-card-subtitle>
        Professor and Chair - Critical Race and Ethnic Studies
      </mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../../assets/bernadette.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <a
        mat-raised-button
        id="gonzaga-btn-icon"
        color="primary"
        href="https://www.gonzaga.edu/college-of-arts-sciences/faculty-listing/detail/calafell"
        rel="dns-prefetch"
        target="_blank"
        >My Gonzaga Homapage <mat-icon>exit_to_app</mat-icon></a
      >
    </mat-card-content>
  </mat-card>
  <p>
    I am the inaugural Chair of Critical Race and Ethnic Studies at
    <a
      class="link"
      href="https://www.gonzaga.edu/"
      rel="dns-prefetch"
      role="link"
      alt="Link to Gonzaga"
      target="_blank"
    >
      Gonzaga University</a
    >. I officially begin this position in August 2019. Prior to coming to
    Gonzaga, I was Professor of Culture and Communication in the
    <a
      href="https://www.du.edu/ahss/comn/index.html"
      class="link"
      rel="dns-prefetch"
      role="link"
      alt="Link to Department of Communication Studies at University of Denver"
      target="_blank"
    >
      Department of Communication Studies
    </a>
    at the University of Denver. I was also an affiliate faculty member in
    Critical Race and Ethnic Studies,
    <a
      class="link"
      href="https://www.gonzaga.edu/"
      rel="dns-prefetch"
      role="link"
      alt="Link to Gonzaga"
      target="_blank"
    >
      Gonzaga University
    </a>
    . I officially begin this position in August 2019. Prior to coming to
    Gonzaga, I was Professor of Culture and Communication in the
    <a
      href="https://www.du.edu/ahss/gwst/index.html"
      class="link"
      rel="dns-prefetch"
      role="link"
      alt="Link to Gender and Women’s
  Studies at University of Denver"
      target="_blank"
    >
      Gender and Women’s Studies
    </a>
    ,
    <a
      href="https://www.du.edu/latinocenter/"
      class="link"
      rel="dns-prefetch"
      role="link"
      alt="Link to Latino Center at University of Denver"
      target="_blank"
    >
      DU’s Latina/o Center for Community Engagement and Scholarship
    </a>
    , and
    <a
      href="https://www.du.edu/ahss/urbanstudies/index.html"
      class="link"
      rel="dns-prefetch"
      role="link"
      alt="Link to Urban Studies at University of Denver"
      target="_blank"
      >Urban Studies</a
    >
    . I started at DU in 2006 and served as Associate Chair and Director of
    Graduate Studies from 2009-2011, Department Chair from 2011-2014, and
    Director of Undergraduate Studies 2017-2018. Prior to coming to DU, I was a
    faculty member in Rhetoric at Syracuse University in the Department of
    Communication and Rhetorical Studies from 2003-2006.
  </p>
  <p>
    I graduated from Arizona State University in 1997 with a B.A. in
    Communication. Working with Dr. Lisa A. Flores I completed the undergraduate
    thesis, The Social Construction of Culture: An Analysis of Latina Magazine,
    as part of my requirements in the
    <a
      href="https://barretthonors.asu.edu/"
      class="link"
      rel="dns-prefetch"
      role="link"
      alt="Link to Barrett Honors College ASU"
      target="_blank"
      >Barrett Honors College</a
    >
    . In 1998 I returned to the
    <a
      href="https://humancommunication.asu.edu/"
      class="link"
      rel="dns-prefetch"
      role="link"
      alt="Link to Hugh Downs School of Human Communication"
      target="_blank"
      >Hugh Downs School of Human Communication</a
    >
    for my M.A. I concentrated by coursework in Performance Studies and
    Rhetoric. Working with Drs. Olga Davis, Frederick Corey, and Kristin
    Valentine, I completed the thesis More Than a Latin Lover: Ricky Martin and
    the Politics of Disidentification. I graduated with my M.A. in 2000. Later
    that date I moved to North Carolina to begin the doctoral program in
    <a
      href="https://comm.unc.edu/"
      class="link"
      rel="dns-prefetch"
      role="link"
      alt="Link to Hugh Downs School of Human Communication"
      target="_blank"
    >
      Communication Studies at the University of North Carolina at Chapel Hill
    </a>
    . I focused my coursework and research in Performance Studies, with a
    specific interest in Queer Latina/o Performance and Literature and a
    secondary concentration in Media Studies. With the guidance of my advisor,
    Dr. D. Soyini Madison, and my committee members Della Pollock, J. Robert
    Cox, Joanne Hershfield, and Maria DeGuzman, I defended my dissertation,
    "Towards a Latina/o Politics of Affect: Remembering Malintzin Tenépal" in
    2003.
  </p>
  <p>
    To learn more about me please explore the links about my research, teaching,
    service, and awards. You can also learn more about me by visiting my
    Academia.edu page, twitter, my Google Scholar Page, my Linkedin profile, or
    this recent article about research by one of my doctoral students and I.
  </p>

  <!-- <blockquote>
        If you are interested in contacting me regarding consulting, speaking
    opportunities, or any other questions, please contact me at
    BernadetteMarieCalafell@gmail.com.
    </blockquote> -->
</div>
