@import "../../../../styles/mixin.scss";

.btn-row {
  margin-left: $margin-common !important;
}

.mat-raised-button {
  width: auto;
  margin-right: $margin-common;
}

.download-icon {
  position: relative;
  top: -3px;
}

.publication-actions {
  margin-left: 16px;
}

.header-image--publication {
  background-image: url("../../../../assets/mat-header-icons/publication.png");
  background-size: cover;
}
