<div class="section">
  <h2 class="page-title mat-headline">Teaching Philosophy</h2>
  <p class="margin-common">
    As a committed teacher, my particular contribution can be characterized as:
    (1) bringing to the forefront the perspectives of historically marginalized
    groups and 2) taking critical approaches to the study of culture that are
    attentive to issues such as power, history, and ideology. My teaching
    philosophy is based in the idea that the classroom is a critical space of
    possibility for both the student and the instructor. I am committed to an
    engaged pedagogy, as defined by bell hooks in Teaching to Transgress. I
    recognize that when we ask students to examine subjects that invite them to
    be vulnerable, we as instructors must also be willing to be vulnerable as
    well. I believe as hooks does, that a “commitment to engaged pedagogy is an
    expression of political activism” (203). This philosophy is guided by my
    scholarship and practice in mentoring students.
  </p>
  <p class="margin-common">
    In my undergraduate courses, by emphasizing the connections between the
    day-to-day lived experience and popular culture texts/artifacts that reflect
    these practices, my students are encouraged to see the relevance of theory
    to their everyday experiences. My emphasis on the relationships between
    theory and practice is an outgrowth of my experiences teaching courses that
    forefront issues of race, class, gender, and sexuality. These areas of study
    have the potential to alienate students when addressed solely in abstract
    terms; thus, these areas of study necessitate grounding in lived experience
    in order to foster engaged pedagogy. To create an environment in which
    students feel empowered to engage materials, the ideals of effective
    communication must first be put into place: respect, support, listening, and
    the willingness to connect with both familiar and unfamiliar lived
    experiences. Each of these characteristics is central to establishing a
    classroom environment in which students feel that their perspectives are
    welcomed. Instructors must be willing to meet students where they are
    ideologically and embrace a pedagogy that is focused on process rather than
    immediate product. However, I will not allow students to perpetuate violence
    such as racism, sexism, homophobia, classism, or ageism in the classroom. It
    is a delicate balance to encourage students to step outside of their comfort
    zones, while recognizing that this learning should not come at the expense
    of Others in the classroom. It is a skill I continue to develop. But through
    modeling reflexivity by vulnerably speaking about my own privileges, such as
    white skin privilege, and asking students to consider what is at stake in
    the positions they argue for, I try to get students to understand how power
    works intersectionally within what Patricia Hill Collins terms "the matrix
    of domination."
  </p>
  <p class="margin-common">
    In my courses I center the voices of Others by offering students a
    perspective of the field from those who have historically been marginalized.
    Otherness lives in the center rather than at the margins. For example, in my
    Critical Sexuality Studies graduate seminar, we engage the work of scholars
    such as Gust Yep, E. Patrick Johnson, José Esteban Muñoz, Cherríe Moraga,
    Jasbir Puar, Alicia Arrizon, and Gloria Anzaldúa. Most courses would start
    with scholars such as Foucault, Sedgwick or Butler (what I would call the
    queer canon); however, I believe students will be able to read the work of
    these scholars in many of their other courses. However, other courses may
    not feature the scholarship I center in my course.
  </p>
  <p class="margin-common">
    What is increasingly important in working with students, especially those
    from historically marginalized groups, is mentoring. I highlight this work
    because this is such a large part of my workload. Mentoring is important in
    the classroom as we work with students to help them become critical, better
    writers, and researchers. I push students to find their places in the world
    and in the field and then help them chart their spaces for contribution. We
    teach students both disciplinary and interdisciplinary knowledge so they
    might be conversant in their fields of study. However, mentoring must extend
    beyond the classroom, as we work individually with students to teach them
    practical and important tasks such as putting together a vita, submitting
    work for publication or a conference, and ultimately getting a job.
    Additionally, we must also talk with them and model professionalism,
    collegiality, and in some cases be willing to draw from our experiences as
    (minority and/or queer) faculty so that the road may be a bit easier for our
    students. I believe mentoring is a place of radical possibility. Mentoring
    is the place where my research and pedagogical practice really meet. As
    explained earlier, I have written several essays about mentoring between
    graduate students and faculty (Calafell “Mentoring and Love”; Pattisapu and
    Calafell; Hao, Alexander, Calafell, Willink, Kilgard, and Warren; Alaoui and
    Calafell). I see mentoring as a practice of social justice that is
    reciprocally driven by a critical ethics of love and vulnerability,
    particularly when it creates what bell hooks terms “homeplace” for faculty
    and students of color in predominately white institutions, which may not
    always be the most welcoming places. I am very proud of the work I have done
    in terms of mentoring, as I often feel it is overlooked in the research,
    teaching, and service configuration that guides faculty lives.
  </p>
  <p class="margin-common">
    It is also important to note that the majority of the students that come to
    work with me are students from historically marginalized groups; students of
    color and queer students. As a queer faculty of color who does work in race,
    sexuality, gender, and class, my presence has attracted increasing numbers
    of students of color, including many of the Latinx graduate students at my
    current institution. It is important to create spaces where these students
    feel valued as scholars, teachers, and colleagues. They need to see the
    space for their work in the field, and that the work is valued. They want to
    see a course curriculum that include the experiences of people like
    themselves and that the canon is not beyond critique and revision. They also
    need to know that many of the things they experience in academia are not
    unique, that there are systematic patterns of inequity that govern academic
    spaces. By providing them with materials that attest to and “legitimate”
    their experiences in the academy, I work to create strategies for resiliency
    and success. My teaching and mentoring are driven by reflexivity,
    vulnerability, and a critical ethics of love. As a queer faculty of color I
    am committed to changing the academy one student at a time.
  </p>
</div>
