@import "../../../../styles/mixin.scss";

button {
  img {
    width: 1.25em;
  }
}

:host {
  text-align: center;
}

.logout {
  padding-top: 5em;
}

.btn-row {
  .mat-raised-button {
    margin: $margin-common;
  }
}
