<div *ngIf="!(afAuth.authState | async)" class="dialog-login">
  <h1>Login</h1>

  <button mat-raised-button bmcGoogleSignin>
    <img src="/assets/google-logo.svg" /> Login with Google
  </button>

  <h5>OR</h5>

  <bmc-email-login></bmc-email-login>
</div>

<div *ngIf="afAuth.authState | async as user" class="logout">
  <p>
    Logged in as <strong>{{ user.email }}</strong>
  </p>

  <div class="btn-row">
    <button mat-raised-button color="primary" (click)="afAuth.auth.signOut()">
      Logout
    </button>
    <button mat-raised-button color="primary" (click)="onNoClick()">
      Close
    </button>
  </div>
</div>
