<div class="section">
  <h2 class="page-title mat-headline">Books</h2>

  <div class="books-card-container">
    <mat-card class="example-card mat-elevation-z4">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Negotiating Identity & Transnationalism</mat-card-title>
        <mat-card-subtitle
          >Middle Eastern and North African Communication and Critical Cultural
          Studies</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/negotiating_identity_and_transnationalism.jpg"
        alt="Cover photo of 'Negotiating Identity & Transnationalism'"
      />
      <mat-card-content> </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Publisher Link</button>
        <button mat-raised-button color="primary">Purchase Book</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
