@import "../../../styles/mixin.scss";

.books-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  @include tablet {
    @include flex-col(flex-start, flex-start);
  }
}

.book-card {
  margin: 16px;
  max-width: calc(50% - 64px);
  @include tablet {
    max-width: calc(100% - 64px);
  }
  .mat-card-actions {
    margin: 16px;
  }
}

.example-card:nth-child(even) {
  margin-left: 0px;
  margin-right: 0px;
  @include tablet {
    margin-left: 16px;
  }
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
