<div class="section">
  <h2 class="page-title mat-headline">Books</h2>

  <div class="books-card-container">
    <mat-card class="example-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Negotiating Identity & Transnationalism</mat-card-title>
        <mat-card-subtitle
          >Haneen Shafeeq Ghabra (Editor), Fatima Zahrae Chrifi Alaoui (Editor),
          Shadee Abdi (Editor), Bernadette Marie Calafell
          (Editor)</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/negotiating_identity_and_transnationalism.jpg"
        alt="Cover photo of 'Negotiating Identity & Transnationalism'"
      />
      <mat-card-content> </mat-card-content>
      <mat-card-actions>
        <a href="" mat-raised-button color="primary" target="_blank"
          >Publisher Info</a
        >
        <a href="" mat-raised-button color="primary" target="_blank"
          >Purchase Book</a
        >
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title
          >Monstrosity, Performance, and Race in Contemporary
          Culture</mat-card-title
        >
        <mat-card-subtitle
          >Bernadette Marie Calafell (Author)</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/monstrosity.jpg"
        alt="Cover photo of 'Monstrosity, Performance, and Race in Contemporary Culture'"
      />
      <mat-card-content> </mat-card-content>
      <mat-card-actions>
        <a
          href="https://www.peterlang.com/view/title/22689?format=EPDF"
          mat-raised-button
          color="primary"
          target="_blank"
          >Publisher Info</a
        >
        <a
          href="https://www.amazon.com/Monstrosity-Performance-Race-Contemporary-Culture-ebook/dp/B0765ZMKM7/ref=sr_1_1?dchild=1&keywords=bernadette+marie+calafell&qid=1589140504&sr=8-1"
          mat-raised-button
          color="primary"
          target="_blank"
          >Purchase Book</a
        >
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title
          >Queer Intercultural Communication: The Intersectional Politics of
          Belonging in and across Differences</mat-card-title
        >
        <mat-card-subtitle>
          Shinsuke Eguchi (Editor), Bernadette Calafell
          (Editor)</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/queer.jpg"
        alt="Cover photo of 'Queer Intercultural Communication: The Intersectional Politics of Belonging in and across Differences'"
      />
      <mat-card-content> </mat-card-content>
      <mat-card-actions>
        <a
          href="https://rowman.com/ISBN/9781538121405/Queer-Intercultural-Communication-The-Intersectional-Politics-of-Belonging-in-and-across-Differences"
          mat-raised-button
          color="primary"
          target="_blank"
          >Publisher Info</a
        >
        <a
          href="https://www.amazon.com/Queer-Intercultural-Communication-Intersectional-Differences-ebook/dp/B07Y3YNDVQ/ref=sr_1_1?dchild=1&keywords=bernadette+calafell&qid=1589141545&sr=8-1"
          mat-raised-button
          color="primary"
          target="_blank"
          >Purchase</a
        >
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title
          >Latina/o Discourse in Vernacular Spaces: Somos de Una Voz? (Race,
          Rites, and Rhetoric: Colors, Cultures, and
          Communication)</mat-card-title
        >
        <mat-card-subtitle
          >Michelle A. Holling (Editor), Bernadette M. Calafell (Editor), 13
          contributors</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/latino.jpg"
        alt="Cover photo of 'Latina/o Discourse in Vernacular Spaces: Somos de Una Voz? (Race, Rites, and Rhetoric: Colors, Cultures, and Communication)'"
      />
      <mat-card-content> </mat-card-content>
      <mat-card-actions>
        <a
          href="https://rowman.com/ISBN/9781538121405/Queer-Intercultural-Communication-The-Intersectional-Politics-of-Belonging-in-and-across-Differences"
          mat-raised-button
          color="primary"
          target="_blank"
          >Publisher Info</a
        >
        <a
          href="https://www.amazon.com/Latina-Discourse-Vernacular-Spaces-Communication-ebook/dp/B004QOB46U/ref=sr_1_15?dchild=1&keywords=bernadette+calafell&qid=1589141913&s=books&sr=1-15"
          mat-raised-button
          color="primary"
          target="_blank"
          >Purchase Book</a
        >
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title
          >Latina/o Communication Studies: Theorizing Performance (Critical
          Intercultural Communication Studies)</mat-card-title
        >
        <mat-card-subtitle
          >Bernadette Marie Calalfell (Author)</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/latina2.jpg"
        alt="Latina/o Communication Studies: Theorizing Performance (Critical Intercultural Communication Studies)'"
      />
      <mat-card-content> </mat-card-content>
      <mat-card-actions>
        <a
          href="https://www.peterlang.com/view/title/58646"
          mat-raised-button
          color="primary"
          target="_blank"
          >Publisher Info</a
        >
        <a
          href="https://www.amazon.com/Latina-Communication-Studies-Performance-Intercultural/dp/0820481823/ref=sr_1_8?dchild=1&keywords=bernadette+calafell&qid=1589142546&s=books&sr=1-8"
          mat-raised-button
          color="primary"
          target="_blank"
          >Purchase Book</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</div>
