@import "./app.scss";

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (max-width: #{ $tablet-width - 1px }) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{ $tablet-width - 1px }) {
    @content;
  }
}

@mixin flex-col-fs {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flex-row-fs {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@mixin flex-row-fs-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@mixin flex-row-justify-start-align-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@mixin flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
