@import "./app.scss";

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (max-width: #{ $tablet-width - 1px }) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{ $tablet-width - 1px }) {
    @content;
  }
}

@mixin flex-row($justify, $align) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-col($justify, $align) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}
