// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app's

@import url("https://fonts.googleapis.com/css?family=Roboto");

$md-bmcblue: (
  50: #e0f6fa,
  100: #b3eaf2,
  200: #80dcea,
  300: #4dcde1,
  400: #26c3da,
  500: #00b8d4,
  600: #00b1cf,
  700: #00a8c9,
  800: #00a0c3,
  900: #0091b9,
  A100: #e2f8ff,
  A200: #afebff,
  A400: #7cdeff,
  A700: #63d8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-bmc-violet: (
  50: #f1eff8,
  100: #ddd8ed,
  200: #c7bee1,
  300: #b0a3d5,
  400: #9f90cc,
  500: #8e7cc3,
  600: #8674bd,
  700: #7b69b5,
  800: #715fae,
  900: #5f4ca1,
  A100: #fefeff,
  A200: #d6cbff,
  A400: #ae98ff,
  A700: #9a7fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config(
  $font-family: "Roboto"
);

$custom-typography: mat-typography-config(
  $font-family: "Roboto",
  $headline: mat-typography-level(28px, 36px, 700),
  $body-1: mat-typography-level(16px, 22px, 500),
  $title: mat-typography-level(20px, 24px, 500)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bmc-com-primary: mat-palette($md-bmcblue, 700);
$bmc-com-accent: mat-palette($mat-grey, 700);
$light-primary-text: black;
// The warn palette is optional (defaults to red).
$bmc-com-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bmc-com-theme: mat-light-theme(
  $bmc-com-primary,
  $bmc-com-accent,
  $bmc-com-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bmc-com-theme);

// Our dark theme
.dark-theme-wrapper {
  color: $light-primary-text;
  $light-primary: $bmc-com-primary;
  $light-accent: $bmc-com-accent;
  $light-warn: $bmc-com-warn;
  $light-theme: mat-dark-theme($light-primary, $light-accent, $light-warn);

  @include angular-material-theme($light-theme);
}
