<mat-card class="bmc-list-item mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>
      <h4 matLine class="title">
        {{ advisee.student }}
        <span *ngIf="advisee.year"> ({{ advisee.year }})</span>
        <span *ngIf="!advisee.year"> (Current)</span>
      </h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p matLine class="item" *ngIf="advisee.position">
      {{ advisee.position }}
    </p>
    <p matLine class="item opacity" *ngIf="advisee.school">
      {{ advisee.school }}
    </p>
  </mat-card-content>
</mat-card>
