<mat-card class="bmc-list-item mat-elevation-z2">
  <mat-card-header>
    <div mat-card-avatar class="header-image--advisee"></div>
    <mat-card-title>
      <h4 matLine class="title">
        {{ item.student }}
      </h4>
    </mat-card-title>
    <mat-card-subtitle *ngIf="item.year">
      <span *ngIf="item.year"> {{ item.year }}</span>
      <span *ngIf="!item.year"> (Current)</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p matLine class="item" *ngIf="item.position">
      {{ item.position }}
    </p>
    <p matLine class="item opacity" *ngIf="item.school">
      {{ item.school }}
    </p>
  </mat-card-content>
</mat-card>
