<mat-card class="bmc-list-item-base mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>
      <h3 matLine class="title">
        {{ item.student }}
        <span *ngIf="item.year"> ({{ item.year }})</span>
        <span *ngIf="!item.year"> (Current)</span>
      </h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p matLine class="item" *ngIf="item.position">
      {{ item.position }}
    </p>
    <p matLine class="item opacity" *ngIf="item.school">
      {{ item.school }}
    </p>
  </mat-card-content>
</mat-card>
