<mat-card class="bmc-list-item mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>
      <h3 class="title">
        {{ item.role }}
      </h3>
    </mat-card-title>
    <mat-card-subtitle>
      <p class="item opacity" *ngIf="item.date">
        {{ item.date.seconds | yearPipe }}
      </p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="item" *ngIf="item.title">
      <i>"{{ item.title }}"</i>
    </p>
    <p class="item" *ngIf="item.department">
      {{ item.department }}
    </p>
    <p class="item" *ngIf="item.school">
      {{ item.school }}
    </p>
    <p class="item" *ngIf="item.location">
      <span class="item">{{ item.location }}</span>
    </p>
  </mat-card-content>
</mat-card>
