@import "../../../styles/mixin.scss";

.bmc-list-item {
  @include flex-col(flex-start, flex-start);
  padding: 16px;
  h3 {
    font-family: "Assistant";
  }
  .item-subtitle {
    opacity: 0.5;
  }
  .item-title {
    font-weight: bold;
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
}
