<div class="section">
  <h2 class="page-title mat-headline">Recent Presentations</h2>

  <p class="margin-common">
    In addition to regularly presenting my work at the National Communication
    Association Convention and Western States Communication Association
    conference, here are some other recent research presentations:
  </p>

  <mat-divider></mat-divider>

  <mat-spinner color="primary" *ngIf="loading" class="spinner"></mat-spinner>

  <bmc-list-item
    *ngFor="let item of items; let i = index"
    [title]="item.role"
    [date]="item.date"
    [line1]="item.title"
    [line2]="item.department"
    [line3]="item.school"
    [line4]="item.location"
    [lastItem]="items && i == items.length - 1"
  ></bmc-list-item>
  <!-- 
  <mat-tab-group>
    <mat-tab label="List">

    </mat-tab>

    <mat-tab label="Map">
      <bmc-presentation-map
        *ngIf="!loading"
        [item]="item"
      ></bmc-presentation-map>
    </mat-tab>
  </mat-tab-group> -->
</div>
