@import "../../../../styles/mixin.scss";

.gm-style .gm-style-iw {
  padding: 2% 11% !important;
}
.iw-content {
  color: black;
}

.info-window {
  color: black !important;
}

h4 {
  color: $color-primary !important;
}
