/* You can add global styles to this file, and also import other style files */
@import "./styles/mixin.scss";

@import url("https://fonts.googleapis.com/css?family=Sansita");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
html,
body {
  margin: 0;
}

.spacer {
  flex: 1 0 0;
}

a.link {
  color: $color-primary;
  text-decoration: none;
  &:visited {
    color: $color-primary;
  }
}

section {
  background: #303030;
}

footer {
  background: #303030;
  color: white;
}

body {
  font-family: "Noto Sans", "Helvetica Neue", sans-serif;
}

// .mat-card-title {
//   color: $color-primary;
// }

.paragraph-margin {
  margin: $margin-common;
}

.flex-row-fs {
  @include flex-row(flex-start, center);
}

.flex-row-fe {
  @include flex-row(flex-end, center);
}

.flex-col {
  @include flex-col(flex-start, center);
}

.spacer {
  flex: 1 0 0;
}

p {
  line-height: 1.666rem;
}

.margin-common {
  margin: $margin-common !important; // Material override
}

.list-item > p.opcaity {
  opacity: 0.666 !important;
}

.spinner {
  margin: 0 auto;
}

h4.title {
  font-size: 18px !important;
  font-weight: bold;
  color: $color-primary;
}

p.item {
  @include tablet {
    font-size: 0.86rem !important;
  }
}

.line {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.speaking-card {
  background: #ffffff0a; // TODO: Matches Hover on Mat List Items, but a hack...
}

.section {
  min-height: calc(100vh - 64px);
  h2 {
    font-family: "Noto Sans";
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.list-item {
  margin: 16px 16px;
  padding-top: $padding-common !important;
  padding-bottom: $padding-common !important;
}

.mat-card.bmc-list-item {
  margin: 16px;

  .mat-card-content {
    margin: 0 16px !important;
  }

  .mat-card-actions {
    margin: 16px !important;
  }
}

.section {
  h2 {
    margin-top: 16px;
    margin-left: 16px;
  }
}
