<div class="section">
  <h2 class="page-title mat-headline">My Research</h2>
  <p class="margin-common">
    Within the academy, and the field of communication in particular, Chicanxs
    and Latinxs, as well as research and teaching about and by them, are
    significantly underrepresented. Therefore, I have worked to establish a
    research agenda that both privileges largely ignored Chicanx and Latinx
    experiences and simultaneously challenges traditional ideas about
    communication theory and knowledge production. Thus, my goal has been to
    rethink and retheorize how we study historically marginalized groups,
    examining the specific example of Chicanxs and Latinxs. My work is
    interdisciplinary, meaning the most exciting and stimulating insights coming
    out of my work emerge as a result of the investigation of important social,
    theoretical, and analytical questions posed at the interstices of fields.
    Thus, my scholarship has been guided by theories and methods from
    Chicanx-Latinx Studies, Performance Studies, Queer Theory, and Rhetorical
    Theory, and Criticism. In advancing this goal my research program has
    largely been focused in four areas:
  </p>
  <div class="linked">
    <div>
      <p *ngFor="let field of fields" class="margin-common">
        {{ field.content }}
      </p>
    </div>
  </div>

  <mat-divider></mat-divider>

  <h2 class="page-title mat-headline">Paradigms and Methods</h2>

  <p class="margin-common">
    My scholarship is driven by a fusion of methodological choices all informed
    by specific theoretical commitments. In my research, theory and method are
    intrinsically related, as critical theories inform my methodological
    choices. I choose methodological perspectives that are relevant to a given
    study; those methodological approaches are also grounded in the politics of
    empowering historically marginalized communities. In my research I draw upon
    three methodologies: Rhetorical Theory and Criticism, Critical or
    Performance Ethnography, and Personal Narrative or Performative Writing. My
    multi-methodological approach to scholarship has been shaped by and has
    shaped three primary methodological and theoretical approaches. First,
    critical rhetoric scholarship informs my investigation of the way power
    works, shapes our realities, and informs how we think about identities and
    communities. In particular, through critical rhetoric, I have sought to
    understand relations of power within historically marginalized communities
    and the texts members of those communities produce on their own terms and in
    their historical department. Along with Dr. Michelle Holling I have begun to
    theorize the properties of Latina/o Vernacular Discourse. The second
    approach that has been foundational to my scholarship is critical and
    performance ethnography. Through this approach, I examine texts and
    performances produced by historically marginalized communities. Thus, I have
    sometimes thought about less public and more everyday rhetorical forms, such
    as performance, ritual, and personal narrative. Through critical and
    performance ethnography, in my scholarship I therefore emphasize the
    importance of dialogue and the activist responsibilities of the researcher.
    The final approach I take in my scholarship privileges intersectionality, a
    perspective associated with the writings of feminist scholars of color. This
    approach allows me to use a critical, reflexive approach to identity and
    subjectivity, while simultaneously focusing on particular social and group
    identity experiences.
  </p>
</div>
